<h1> Ankishare File Upload </h1>

<p>To be changed to a anki importer</p>

<%= form_tag(@upload_file, :action=>'upload', :multipart => true) do %>
<div class="field">
  <%= label_tag :file %>
  <%= file_field_tag :file %>
</div>
<div class="actions">
  <%= submit_tag 'Submit' %>
</div>
<% end %>
